  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Titre:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Titre" id="title" name="title" value="<%=song.title%>">
    </div>
  </div>
  <div class="form-group">
    <label for="album" class="col-sm-2 control-label">Album</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Album" id="album" name="album" value="<%=song.album%>">
    </div>
  </div>
  <div class="form-group">
    <label for="artist" class="col-sm-2 control-label">Artist:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Artist" id="artist" name="artist" value="<%=song.artist%>">
    </div>
  </div>
  <div class="form-group">
    <label for="year" class="col-sm-2 control-label">Year:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="Year" id="year" name="year" value="<%=song.year%>">
    </div>
  </div>
  <div class="form-group">
    <label for="bpm" class="col-sm-2 control-label">BPM:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" placeholder="BPM" id="bpm" name="bpm" value="<%=song.bpm%>">
    </div>
  </div>
