<% include partials/header %>
   <h1><%=song.title%></h1>
   <hr/>
   Album  : <%=song.album%><br/>
   Artist : <%=song.artist%><br/>
   <% if (song.year) { %>
      Year   : <%=song.year%><br/>
   <% } %>
   <% if (song.bpm) { %>
      BPM   : <%=song.bpm%><br/>
   <% } %>
<% include partials/footer %>